.o_kanban_view.o_kanban_ungrouped.o_kanban_record.own{
    min-width: 100%;
}


.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}


.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}
.show-grid {
  margin: 15px 0;
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}


.panel-default {
  border-color: #68738f;
}
.panel-default > .panel-heading {
  border-color: #68738f;
  color: white;
  background-color: #dcdbdd;
}
.panel-default > a {
  color: #ea6f75;
}
.panel-default > a:hover {
  color: #62cf23;
}



.btn-setting{
	    padding: 7px 7px;
	    margin-bottom:5px;
}
.btn-setting fa{
	margin-right:5px;
}
.howl-iconpicker .geticonval,.howl-iconpicker-close{
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input.input1.input {
    border: 1px solid grey;
    width: 20%;
    margin-bottom:5px;
}
.btn-dadhboard{
	margin-left:5px;
}
.openerp .oe_kanban_view .oe_kanban_action_button.detail{
	height: inherit;
	color: #337ab7;
    background-color: #fff;
    padding: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.openerp .oe_kanban_view .col-lg-3.col-md-6{
	margin-bottom:6px
}
button.btn.btn-default.btn-setting.pull-right.oe_kanban_action.oe_kanban_action_button,button#refresh {
    color: #7C7BAD;
    padding: 10px 15px;
    height: inherit;
    background-color: inherit;
    background-image: none;
    margin-right: 5px;
    margin-bottom: 5px;
}