/* Copyright 2017 UNIBRAVO
 * License OPL-1.0 */

// App Drawer / Icons
@app-drawer-icon-size:      6em;
@app-drawer-icon-margin:    1em;
@app-drawer-width:          100%;
@app-drawer-title-height:   46px;

// Navbar
@navbar-height: 46px;
@app-drawer-navbar-height:  @navbar-height / 2;
@app-drawer-navbar-padding-vertical: @navbar-padding-vertical / 2;
@app-drawer-padding-horizontal: @navbar-padding-horizontal / 2;

// Drawer Toggle
@drawer-toggle-height: @navbar-height;
@drawer-toggle-width: @navbar-height;

.app-drawer-nav {
    
    background-color: #c9a8a9;
    background: -moz-linear-gradient(135deg, #c9a8a9, #706979);
    background: -o-linear-gradient(135deg, #706979, #c9a8a9);
    background: -webkit-gradient(linear, left top, right bottom, from(#706979), to(#c9a8a9));
    background: -ms-linear-gradient(top, #706979, #c9a8a9);   
    background-clip: padding-box;
    background-position: center;
    border: 0px !important;
    border-radius: 0px !important;


    -webkit-border-radius: @border-radius-base;
    -moz-border-radius: @border-radius-base;

    .box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    .o-background-size(cover);
    
    .navbar-left {
        width: 100%;

        li {
            padding: 0;
        }
    }

    .app-drawer-title {
        float: none;
        display: block;
        color: white;
        font-size: 15px;
        font-weight: 400;
        margin-top: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    }

    .app-drawer-panel-title {
        line-height: 16px;
        > .drawer-toggle {
            cursor: pointer;
            color: white;
        }
    }

    .app-drawer-icon-app {
        position: relative;
        max-width: 70px;
        overflow: hidden;
        margin: auto;
        object-fit: contain;
        object-position: center;
        border-radius: 4%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .panel-body {
        margin: auto;
        max-width: 850px;
        padding-top: 60px !important;
        width: 95%;
    }

    #appDrawerAppPanelHead {
        position: absolute;
        height: @app-drawer-title-height;
        width: 100%;
    }

}

.drawer-nav {
    width: 100%;
    top: inherit;

    .app-drawer-panel-title {
        margin-left: -17px;
    }
        
    #appDrawerAppPanelHead {

        background-color: transparent; // 837784 846b83
        border: none;

        a {
            color: white;
        }
    }
}

.drawer--left .drawer-nav {
    left: -@app-drawer-width;
    -webkit-transition: left .1ms cubic-bezier(0.190, 1.000, 0.220, 1.000) !important; 
    transition: left .1ms cubic-bezier(0.190, 1.000, 0.220, 1.000) !important;
}

.drawer--left.drawer-open .drawer-hamburger {
    left: @app-drawer-width;
}

.drawer--right .drawer-nav {
    right: -@app-drawer-width;
}

.drawer-open .oe-right-toolbar {
    display: none;
}

.drawer-closed .oe-right-toolbar {
    display: block;
}

.drawer-open .drawer-overlay {
    display: none !important;
}

.drawer-open {
     .app-drawer-icon-close {
        display: inherit;
    }

    ul.oe_secondary_menu, .app-drawer-icon-open {
        display: none !important;
    }

    .navbar.navbar-default.main-nav {
    -webkit-transition: background 0.1ms linear;
        transition: background 0.1ms linear;
        background-color: transparent;
    }

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: transparent;
    }
}

.app-drawer-toggle {
    background-color: transparent;
}

.app-drawer-toggle.navbar-toggle {
    margin-left: 1em;
}

.app-drawer-toggle, .app-drawer-toggle.btn:active {
    background-color: transparent !important;
}

.app-drawer-icon-open, .app-drawer-icon-close {
    color: white;
    &:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
