/* Copyright 2018 UNIBRAVO
 * License OPL-1.0 */

// Checkbox in List & Form view ==========================================

div.o_checkbox {
    display: inline-block;
    position: relative;
    vertical-align: sub;
}
 
div.o_checkbox > input {
    width: 15px;
    height: 15px;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    cursor: pointer;
}
 
div.o_checkbox > input + span {
    display: block;
	width: 15px;
    height: 15px;
    border: 1px solid #8f8f8f;
    background-color: white;
}
 
div.o_checkbox > input:checked + span {
    background-repeat: no-repeat;
    background-image: url(/web_bravo_backend/static/src/img/checked.svg);
    background-position: center center;
}
 
div.o_checkbox > input:disabled + span {
    opacity: 0.7;
    border: 1px solid #e2e2e0;
}
 
 div.o_checkbox > input:focus + span {
    outline: 1px solid @brand-primary;
}

.o_external_button {
    color: #21b7b4 !important;
    font-size: 15px !important;
}
