/* Copyright 2018, 2019 UNIBRAVO.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Control panel variables =======================================

.o_control_panel {
    background-color: #ffffff;
    .breadcrumb {
        padding:0 ;
    }
}

.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    color: @gray-dark !important;
}

@media (max-width: @screen-sm-max) {
    .o_control_panel {
        .btn-group > .btn.active {
            z-index: initial;
        }

        justify-content: space-between;
        .o_cp_left, .o_cp_right {
            width: inherit;
        }

        .o_search_options > .o_dropdown {
            &.hidden-xs {
                display: inline-block !important;
            }

            > .btn {
                font-size: 0;
                > .fa {
                    font-size: @odoo-font-size-base * 1.4;
                }
            }
        }
    }
}

.o_cp_switch_buttons {
    .active {
        z-index: 10;
    }
}

@media (max-width: @screen-xs-max) {
    .o_control_panel {
        .breadcrumb  {
            overflow: hidden;
        }

        .o_cp_searchview {
            width: 50%;

            > div {
                width: 100%;
                overflow: hidden;
            }
        }

        .o_cp_sidebar, .o_cp_switch_buttons {
            display: none;
        }

        .o_search_options {
            display: block;
        }
    }
}

// Search View

.o_searchview {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;

    .o_searchview_facet {
         background-color: white;

        .o_searchview_facet_label {
            background-color: @brand-primary;
        }
    }
}
