.ui-autocomplete .ui-menu-item {
    &.ui-state-focus {
        background-color: @dropdown-link-hover-bg;
    }
}

// Buttons used as dropdown toggler
.o_dropdown_toggler_btn {
    .btn-link;
    .box-shadow(none)!important;
    color: @odoo-main-text-color;
    &:hover, &:focus {
        color: darken(@odoo-main-text-color, 20%);
    }
    padding: 0;
}

