/* Copyright 2018 UNIBRAVO.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Font
// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.ui-autocomplete {
    font-family: @font-family-sans-serif;
}

// Align green progress indicator
#oe_main_menu_navbar .o_planner_systray > .progress {
    margin-top: 18px !important;
}

// Put Loading indicator in the right bottom of the screen 

.o_loading {
    background-color: darken(@brand-primary, 13.5%) !important;
    top: inherit;
    bottom: 0;
    right: 0;
    padding: 5px 5px;
    border-radius: 0 !important;
    opacity: 0.8;
}

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    @media (max-width: @screen-sm-max) {
        overflow: inherit;
        .odoo {
            .oe-view-manager {
                overflow: inherit;
            }
        }
    }
}

body a {
    &:active, &:focus, &:hover {
        outline: none;
    }
}

a:hover {
    text-decoration: none;
}

.navbar {
    z-index: 10;
}

.o_sub_menu {
    .o_sub_menu_logo {
        display: none;
    }
    .o_sub_menu_footer {
        display: none;
    }
}

.o_web_client {
    >.o_main {
        overflow: auto;
        > .o_main_content {
            overflow: initial;
            > .o_content {
                @media (max-width: @screen-xs-max) {
                    overflow: initial;
                }

                @media (min-width: @screen-sm-min) {
                    .table-responsive {
                        overflow-x: visible;
                    }
                }
            }
        }
    }
}

.o_tooltip.active {
    z-index: 1051;
}

.o_chat_window {
    z-index: 1000;
}
