/* Copyright 2018 UNIBRAVO.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// Variables United
// --------------------------------------------------

//== Colors

@odoo-brand-primary: @odoo-color-pink;
@odoo-brand-optional: #00a09d;
@odoo-brand-secondary: #8f8f8f;
@odoo-brand-lightsecondary: @odoo-color-silver;

@odoo-brand-lightsecondary: #e2e2e0;

@odoo-color-pink: #837784; // Enterprise @odoo-brand-primary #716073 846b83
@odoo-main-color-muted: #a8a8a8;
@odoo-main-text-color: #666666;

@odoo-view-background-color: white;
@odoo-shadow-color: #303030;

@odoo-control-panel-background-color: white;
@odoo-form-lightsecondary: lighten(@odoo-brand-secondary, 25%);

@odoo-list-footer-color: @text-color;
@odoo-list-footer-bg-color: white;

@odoo-tooltip-background-color: @odoo-view-background-color;
@odoo-tooltip-color: @odoo-main-text-color;
@odoo-tooltip-arrow-color: @odoo-main-text-color;

// Layout
@odoo-statbutton-height: 44px;
@odoo-statbutton-vpadding: 0px;
@odoo-statbutton-spacing: 6px;

@odoo-navbar-height: 46px;
@odoo-navbar-inverse-link-hover-bg: darken(@odoo-brand-primary, 10%);


// Font sizes
@odoo-font-size-base-touch: 	15px;
@odoo-font-size-base:          	13px;

//== Grid system
@odoo-sheet-vpadding: 24px;
@odoo-statbutton-vpadding: 5px;

//== Grid

@grid-columns:              12;
@grid-float-breakpoint:     @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

//== Typography

@font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
@font-size-base: @odoo-font-size-base;
@headings-font-weight: 400;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    white;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;


// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;
@btn-border-radius-large:        @border-radius-large;
@btn-border-radius-small:        @border-radius-small;


//-- Z-index master list

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;

//== Navbar

// Basics of a navbar
@navbar-height:                    46px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             white;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                white;
@navbar-default-link-hover-color:          white;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 15%);
@navbar-default-link-active-color:         white;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         white;
@navbar-default-brand-hover-bg:            none;

// Navbar toggle
@navbar-default-toggle-hover-bg:           darken(@navbar-default-bg, 15%);
@navbar-default-toggle-icon-bar-bg:        white;
@navbar-default-toggle-border-color:       darken(@navbar-default-bg, 15%);


//=== Inverted navbar
@navbar-inverse-color:                      white;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 white;
@navbar-inverse-link-hover-color:           white;
@navbar-inverse-link-hover-bg:              darken(@navbar-inverse-bg, 15%);
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #ccc;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          white;
@navbar-inverse-brand-hover-bg:             none;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            darken(@navbar-inverse-bg, 15%);
@navbar-inverse-toggle-icon-bar-bg:         white;
@navbar-inverse-toggle-border-color:        darken(@navbar-inverse-bg, 15%);


//== Navs

//=== Shared nav styles
@nav-link-padding:                          10px 15px;
@nav-link-hover-bg:                         @gray-lighter;
@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;


//== Pills
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;

//== Panels

@panel-body-padding:          10px;
@panel-heading-padding:       10px 15px;
@panel-footer-padding:        @panel-heading-padding;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels

@panel-inner-border:          #ddd;
@panel-footer-bg:             transparent;
@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;

//== Components

@padding-base-vertical:     8px;
@padding-base-horizontal:   12px;
@padding-large-vertical:    14px;
@padding-large-horizontal:  10px;
@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;
@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

//== Iconography

//** Load fonts from this directory.
@icon-font-path:          "../fonts/";
//** File name for all font files.
@icon-font-name:          "glyphicons-halflings-regular";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "glyphicons_halflingsregular";

