/* Copyright 2018, 2019 UNIBRAVO.
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */

// List View variables =======================================

.o_list_view {
    // --- Sticky thead ---
    > thead {
        > tr:first-child > th {
            border: none;
            border-bottom: 1px solid #cacaca;
            background-color: white;
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }
    border-collapse: initial;
}

.o_list_view thead {
    background-color: white;
    box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}
 
.o_list_view.table tbody tr.o_group_header {
    border-top: 1px solid #e2e2e0;
    box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}

.o_list_view tfoot {
    background-color: #efefef;
    font-weight: bold;
    border-top: 2px solid #cacaca;
    border-bottom: 1px solid #cacaca;
}

.o_list_view tfoot > tr > td {
    border-top: 2px solid #d9d7d7;
}

.o_list_view.table thead, .o_list_view.table td,.o_list_view.table th {
    border: none;
}

.o_list_view tbody:first-of-type > tr:first-child:not(.o_group_header) {
    box-shadow: inset 0px 5px 10px -4px rgba(0, 0, 0, 0.1);
}

.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > :not(:empty) {
    padding: 14px 4px;
}

.o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr:not(.o_list_view_grouped) > td {
    padding: 8px 4px;
}

.o_view_manager_content > div > .table-responsive > .o_list_view.table > thead > tr > *:first-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tbody > tr > *:first-child, .o_view_manager_content > div > .table-responsive > .o_list_view.table > tfoot > tr > *:first-child {
    padding-left: 16px !important;
}

// Input field

.o_input {
    border: 1px solid #ccc;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: @gray;
}

// Required

.o_required_modifier {
    &.o_input, .o_input {
        border-bottom: 2px solid @odoo-main-text-color;
        background-color: white!important;
    }
}

.o_field_widget {
    .o_input_dropdown .o_dropdown_button {
        .o-position-absolute(0, 0);
    }
}

