<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Odoo Cash Advance</h2>
        <h3 class="oe_slogan">Manage Kas Bon</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="fleet_vehicles.png" height="300">
            </div>
        </div>
    </div>
</section>


