
.table_header
{
	text-align: justify;
	min-width:20px;
	vertical-align: middle;
	color:blue;
}

.table_reserved
{
	background-color: red;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_reserved1
{
	background-color: blue;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
.table_free
{
	background-color: green;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
