<section class="oe_container">
    <div class="oe_row oe_spaced">
        	<h1 class="oe_slogan" style="color:#f4649d; text-align: center;">It's like Professional!</h1>
			<h2 class="oe_slogan" style="color:#0bccde; text-align: center;">Clear Backend Theme "Bravo" for Odoo v.11</h2>
			<h3 class="oe_slogan" style="color:#f4649d; text-align: center;">Bravo Backend Theme Clean View for Odoo Community Edition version 11.0</h3>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h1 class="oe_slogan" style="color:#f4649d; text-align: center;">Bravo Backend Theme v11</h1>
        <h3 class="oe_slogan" style="color:#0bccde; text-align: center;">The visual and usability renovation. We are designed in best possible look with cool, clean and clear design.</h3>
    </div>
</section>
<section class="oe_container" style="background-color:#f9f9f9; padding:20px 0px 90px 0px">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
                <h2 class="oe_slogan" style="color:#f4649d; text-align: center;">User/pass: demo/demo</h2>
                <p class="oe_slogan" style="color:#f4649d; text-align: center;"><a href="http://212.237.62.27:8011/web?db=odoo11_bravo" target="_blank" title="Demo Link" class="oe_button">Live Demo Here</a></p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#f4649d; text-align: center;">Soft, Clear and Responsive Interface</h2>
			<h1 class="oe_slogan" style="color:#0bccde; text-align: center;">Screenshoots</h1>
            <div class="oe_screenshot" style="text-align: center;">
				<h3 class="oe_slogan" style="color:#f4649d;">Apps Main Panel</h3>
				<img class="max-width: 100%;" src="panel.png"/>
				<h3 class="oe_slogan" style="color:#f4649d;">Notes Kanban View</h3>
                <img style="max-width: 100%;" src="notes.png"><br><br>
				<h3 class="oe_slogan" style="color:#0bccde;">Contacts Kanban View</h3>
                <img style="max-width: 100%;" src="contacts.png"><br><br>
				<h3 class="oe_slogan" style="color:#f4649d;">Customer Form View</h3>
                <img style="max-width: 100%;" src="customer_form.png"><br><br>
				<h3 class="oe_slogan" style="color:#0bccde;">Customer Form View on widescreen</h3>
                <img style="max-width: 100%;" src="customer_wide.png"><br><br>
				<h3 class="oe_slogan" style="color:#f4649d;">Quotation Form View on widescreen</h3>
                <img style="max-width: 100%;" src="quotation_wide.png"><br><br>
				<h3 class="oe_slogan" style="color:#f4649d;">Lead (Proposition) Form View on widescreen</h3>
                <img style="max-width: 100%;" src="lead_wide.png"><br><br>
				<h3 class="oe_slogan" style="color:#0bccde;">Product Form View</h3>
                <img style="max-width: 100%;" src="product.png"><br><br>
				<h3 class="oe_slogan" style="color:#0bccde;">Products List View</h3>
                <img style="max-width: 100%;" src="products.png"><br><br>
				<h3 class="oe_slogan" style="color:#0bccde;">Projects Dashboard</h3>
                <img style="max-width: 100%;" src="projects.png"><br><br>
				<h3 class="oe_slogan" style="color:#f4649d;">Local Apps Dashboard</h3>
                <img style="max-width: 100%;" src="apps.png"><br><br>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
	<div class="oe_row oe_spaced ">
    	<div class="oe_span12">
    		<h2 class="oe_slogan" style="color:#CC5792;">FAQ</h2>
    	</div>
    	<div class="oe_span12" style="margin: 15px 0px; color:#333941;">
    		<h3>After installation if you get any error</h3>
			<p>Do not install this theme while in debug mode. Install this theme while in normal mode. Please restart Odoo service.<br>
    	</div>
    	<div class="oe_span12" style="margin: 15px 0px; color:#333941;">
    		<h3>Can i run this theme on Odoo v9.0 ? Sorry, No.</h3>
    	</div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
		<h2 class="oe_slogan" style="color:#CC5792;">Upgrade and promotion tips</h2>
		<h2 class="oe_slogan" style="color:#333941;"><b>For users who have purchased this module, follow the steps below.</b></h2>
    <div class="oe_slogan">
        <ul class="text-left" style="font-size: 16px;">
            <li>
                Please, friends who bought this theme send us mail. And add info@unibravo.com to your mailbox whitelist.
            </li>
            <li>
                Send SO or other related voucher mail to info@unibravo.com, To help us build a mailing list.
            </li>
        </ul>
    </div>
    </div>
</section>

<section class="oe_container lead">
    <div class="oe_row">
            <div class="oe_span12">
                <h2 class="oe_slogan" style="color:#333941;">Complimentary Ticket Support</h2>
                <p>
                You will get 30 days free support for any doubt, queries, and bug fixing (not including data recovery) or any type of issue related to this module.
                </p>
            </div>
    </div>

</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12 oe_centeralign">
            <br/>
            <h2 class="oe_slogan" style="color:#CC5792;">Help and Support</h2>
            <br/>
                Website: <a href="http://www.unibravo.com" target="_blank">unibravo.com</a><br/>
                E-mail : <a href="mailto:info@unibravo.com" subject="Candy Backend Theme v10">Support Email</a><br/>
				Twitter: <a href="https://twitter.com/unibravo" subject="Candy Backend Theme v10">Support Twitter</a><br/>
            <br/>
        </div>
    </div>
</section>